#header {
  background-image: url("../../assets/Texture.png"),
    linear-gradient(
      90deg,
      rgba(101, 101, 242, 0.32) 0%,
      rgba(146, 162, 255, 0.821) 0%,
      #9dc9fbd0 100%
    );
  background-color: rgb(11, 171, 159);
  background-blend-mode: overlay;
  /* Other styling properties for the header */
}
